@use '../../mixins.scss';

.dropdown-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--blue-1);
  border: 1px solid var(--blue-10);
  border-top: unset;
  @include mixins.shadow;
}

.dropdown-element {
  padding: var(--space-2);
}

.dropdown-element:hover {
  padding: var(--space-2);
  background-color: var(--blue-3);
  cursor: pointer;
}
